body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #726a95;
}

#hero {
  background-image: url('../pics/cocktail_wizard.jpeg');
  height: 90vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#hero h1 {
  text-align: center;
  font-style: italic;
  color: #726a95;

}

#about {
  background-color: #709fb0;
  text-align: center;
  padding: 10px;
  color: #726a95;
}