body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 2em;
  padding: 0;
  margin: 0;
  background-color: lightcoral;
}

nav {
  background-color: aqua;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
nav a {
  color: white;
  text-decoration: none;
}

h2 {
  color: red;
}

article img {
  max-height: 500px;
  max-width: 500px;
}

footer{
  background-color: aqua;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

button {
  background-color: hotpink;
  border-radius: 5px;
  height: 50px;
  border: 1px solid black;
  box-shadow: 5px 10px 8px midnightblue;
}

#hero {
  background-image: url(https://images.adsttc.com/media/images/53ab/172e/c07a/8037/b300/00e9/slideshow/00portada.jpg?1403721500);
  height: 90vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#hero h1 {
  font-style: italic;
  color: lightskyblue;

}

#about {
  color: midnightblue;
}

#events {
  background-color: aquamarine;
}

#events article {
  border: 5px;
  background-color: honeydew;
  margin: 1rem;
  border-style: ridge;
}