body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 2em;
}

h2 {
  color: red;
}

h1 {
  font-style: italic;
  color: chartreuse;
}

img {
  height: 200px;
  width: 200px;
}